<app-movie-search (searchChange)="update($event)"></app-movie-search>

<div class="container pt-5 mt-5">

  <ng-container *ngIf="searching; else noSearch">

    <ng-container *ngIf="(movies$ | async) as movies; else loading">

      <app-movie-list *ngIf="movies.length; else noResults" [movies]="movies"></app-movie-list>

    </ng-container>

  </ng-container>

</div>

<ng-template #noSearch>
  <h1 class="text-muted">Type to search for a movie</h1>
</ng-template>

<ng-template #loading>
  <h1 class="text-muted">Loading ...</h1>
</ng-template>

<ng-template #noResults>
  <h1 class="text-muted">No results</h1>
</ng-template>
